EXPO_PUBLIC_SUPABASE_URL=https://oihmzpxlrxjredkbdhhy.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9paG16cHhscnhqcmVka2JkaGh5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODIwODM5MTgsImV4cCI6MjA5NzY1OTkxOH0.jXsoHq1KbzM26CiRGRilQav4QF5BfKfcvFAP2xkRdWI